@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color_darkOpa: rgba(35, 31, 32, 0.25);
$color_dark: #231f20;
$color_yellow: #fce373;
$color_brown: #cca69a;
$color_green: #9cd08e;
$color_orange: #f37449;
$color_lightOrange: #F29C50;
$color_purple: #a385bd;

$breakpoints: (
  small : 480px,
  medium: 640px, // Previously 640px
  large : 1024px
);

$p-font-sizes: (
  null  : 14px,
  480px : 15px,
  640px : 17px,
  1024px: 20px
);

$h1-font-sizes: (
  null  : 60px,
  480px : 80px,
  640px : 120px,
  1024px: 160px
);
$h2-font-sizes: (
  null  : 50px,
  480px : 60px,
  640px : 80px,
  1024px: 90px
);
$h4-font-sizes: (
  null  : 18px,
  480px : 20px,
  640px : 24px,
  1024px: 26px
);
$h5-font-sizes: (
  null  : 14px,
  480px : 16px,
  640px : 18px,
  1024px: 21px
);


@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

p {
  @include font-size($p-font-sizes);
}
h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
h4 {
  @include font-size($h4-font-sizes);
}
h5 {
  @include font-size($h5-font-sizes);
}

@mixin desktop {
  @media (max-width: 1024px){
      @content;
  }
}
@mixin pad {
  @media (max-width: 640px){
      @content;
  }
}
@mixin mobile {
  @media (max-width: 480px){
      @content;
  }
}

* {
  box-sizing: border-box;
}

%stickyPic {
  width: 512px;
  height: 100vh;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  @include desktop {
    position: relative;
    width: 100vw;
    height: 400px;
  }
  .pic {
    height: 50vh;
    overflow: hidden;
    @include desktop {
      height: 200px;
    }
    img {
      width: 100%;
    }
  }
}
%rightArea {
  width: calc(100% - 512px);
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    position: relative;
    width: 100vw;
    height: fit-content;
  }
  h2 {
    width: 100%;
    margin: 60px 0;
    @include pad {
      margin: 40px 0;
    }
  }
}
