.home {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(193, 133, 133);
  width: calc(100% - 52px);
  height: fit-content;
  // overflow: hidden;
  @include desktop {
    width: 100vw;
  }
  .hero-section {
    width: 100%;
    height: 380px;
    background-color: $color_yellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logo {
      width: 150px;
      height: 70px;
      margin: 0 auto;
      padding-top: 20px;
      overflow: hidden;
      img {
        width: 100%;
        margin-top: -80px;
      }
    }
    h1 {
      margin: 0;
    }
    h4 {
      margin-top: 20px;
    }
  }
  .button-row {
    width: 100%;
    height: 55px;

    &.first {
      background-color: $color_yellow;
    }
    &.second {
      background-color: $color_brown;
    }
    .button {
      width: fit-content;
      height: 100%;
      font-size: 22px;
      display: flex;
      justify-content: center;
      padding: 16px 25px;
      .icon {
        width: 30px;
        height: 30px;
        margin: auto 0;
      }
      &.first {
        background-color: $color_dark;
        color: $color_yellow;
        margin-left: 40vw;
        @include pad {
          margin-left: 30vw;
        }
      }
      &.second {
        background-color: $color_yellow;
        color: $color_dark;
        margin-left: 30vw;
        @include pad {
          margin-left: 13vw;
        }
      }
    }
  }
  .exhi-section {
    // width: fit-content;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    background-color: $color_brown;
    padding: 50px 0;
    .wrap {
      width: fit-content;
      display: flex;
      flex-direction: row;
      padding: 60px;
      .card {
        position: relative;
        width: 400px;
        height: calc(400px * 1.31);
        background-color: $color_green;
        margin-right: 60px;
        padding: 30px;
        text-align: center;
        @include desktop {
          width: 340px;
          height: calc(340px * 1.31);;
        }
        @include pad {
          width: 280px;
          height: calc(280px * 1.31);;
        }
        .pic {
          width: 350px;
          height: 350px;
          overflow: hidden;
          margin: 0 auto;
          margin-bottom: 30px;
          @include desktop {
            width: 280px;
            height: 280px;
          }
          @include pad {
            width: 220px;
            height: 220px;
          }
          img {
            height: 100%;
            &.notSquare {
              margin-left: -30%;
            }
          }
        }
        .info {
          position: absolute;
          bottom: -50px;
          width: calc(100% - 60px);
          height: 102px;
          box-sizing: content-box;
          text-align: center;
          line-height: 102px;

          h3 {
            display: inline-block;
            width: 80%;
            margin: auto;
            vertical-align: middle;
            font-size: 45px;
            line-height: 45px;
            font-weight: 600;
            @include desktop {
              font-size: 32px;
            line-height: 32px;
            }
            &.isLong {
              // 字太長的情況
              font-size: 30px;
              line-height: 30px;
              @include desktop {
                font-size: 26px;
              line-height: 26px;
              }
            }
          }
        }
        .ticket {
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: -22px;
          right: -22px;
          color: $color_green;
          background-color: $color_dark;
          padding: 12px;
          border-radius: 100%;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .discover-section {
    width: 100%;
    height: 890px;
    background-color: $color_orange;
    position: relative;
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      height: 1250px;
      align-content: flex-start;
    }
    @include pad {
      height: 1050px;
    }
    @include mobile {
      height: 960px;
    }
    .left {
      @extend %stickyPic;
    }
    .right {
      @extend %rightArea;
      .location {
        width: 40%;
        .pic {
          width: 235px;
          height: calc(235px / 1.34);
          overflow: hidden;
          border: 15px solid $color_green;
          margin: 0 auto;
          img {
            width: 100%;
          }
          @include desktop {
            width: 200px;
            height: calc(200px / 1.34);
          }
          @include pad {
            width: 180px;
            height: calc(180px / 1.34);
          }
          @include mobile {
            width: 140px;
            height: calc(140px / 1.34);
          }
        }
        .address {
          margin: 10px 0;
          h5 {
            margin: 5px 0;
            // font-size: 21px;
          }
          p {
            margin: 0;
          }
        }
      }
      h4 {
        margin: 50px 0 20px 0;
        width: 100%;
        font-weight: 500;
      }
      .content {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  .new-section {
    width: 100%;
    height: 910px;
    background-color: $color_purple;
    position: relative;
    @include desktop {
      height: fit-content;
      padding-bottom: 60px;
    }
    .left {
      @extend %stickyPic;
      @include desktop {
        display: none;
      }
    }
    .right {
      @extend %rightArea;
      h2 {
        margin-bottom: 15px;
      }
      p {
        margin: 0;
        width: 100%;
        a {
          line-height: 22px;
          vertical-align: top;
          color: $color_dark;
          letter-spacing: 1px;
          font-weight: 600;
        }
        .icon {
          height: 22px;
          width: 22px;
          margin-right: 10px;
        }
      }
      .card {
        width: 50%;
        height: 500px;
        padding: 20px;
        margin-top: 30px;
        &:first-of-type {

          border-right: 3px solid $color_dark;
        }
        .pic {
          width: 150px;
          height: 150px;
          border: 10px solid $color_lightOrange;
          overflow: hidden;
          margin: 20px auto;
          &.pic-offset {
            margin-top: 200px;
          }
          img {
            height: 100%;
            &.offset {
              margin-left: -20px;
            }
          }
        }
        .info {
          span {
            font-size: 18px;
          }
          p {
            margin: 20px auto;
            font-weight: 600;
          }
        }
      }
    }
  }
  .footer-section {
    width: 100%;
    height: 500px;
    background-color: $color_yellow;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    @include desktop {
      height: 1000px;
      margin-bottom: 52px;
    }
    .footer-card {
      width: 50%;
      padding: 20px;
      height: 250px;
      @include desktop {
        width: 100%;
      }
      span {
        width: 100%;
      }
      h4 {
        margin-top: 20px;
      }
      input {
        width: 203px;
        height: 28px;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 2px solid $color_dark;
        font-weight: 500;
        font-size: 16px;
        color: $color_dark;
        margin: 0 7px;
        &::placeholder {
        color: $color_dark;
        }
      }
      button {
        width: 133px;
        height: 43px;
        background-color: $color_darkOpa;
        border: none;
        color: $color_yellow;
        font-weight: 600;
        font-size: 18px;
        border-radius: 2rem;
        margin-top: 50px;
      }
      &.left {
        border-right: 2px solid $color_dark;
        @include desktop {
          border: none;
        }
      }
      &.right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .location {
          width: 40%;
          margin-top: 50px;
          .footer-icon {
            height: 64px;
            width: 64px;
            margin: 0 auto;
            background-color: $color_lightOrange;
          }
        }
      }
    }
    .footer-row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include desktop {
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        width: 80%;
        // height: fit-content;
      }
      .footer-menu {
        display: flex;
        @include desktop {
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          &.first {
            border-top: 2px solid $color_dark;
          }
          &.second {
            border-bottom: 2px solid $color_dark;

          }
        }
        .icon {
          width: 20px;
          height: 20px;
          margin: 0 5px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        ul {
          display: flex;
          li {
            list-style: none;
            margin: 0 5px;
          }
        }
        .logo {
          width: 70px;
          height: 20px;
          background-color: $color_lightOrange;
          margin: 0 10px;
        }
      }
    }
  }
}
